  #telaInicio {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at center, #222, #000);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    text-align: center;
  }

  #telaInicio h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }

  #btnIniciar {
    background-color: #28a745;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: 0.3s;
  }

  #btnIniciar:hover {
    background-color: #218838;
  }